@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: 'Segoe UI', 'Noto Sans KR', Arial, sans-serif;
  background: #f7f7fa;
  color: #222;
  line-height: 1.6;
}

/* 커스텀 스타일 */
.selection {
  background: black;
  color: white;
}

.cursor-none {
  cursor: none;
}
